{% extends "banka/base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Transactions suspectes</h2>
    <table class="table table-danger table-hover">
        <thead>
            <tr>
                <th>Client</th>
                <th>Type</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for tx in blocked %}
            <tr>
                <td>{{ tx.compte_source.username }}</td>
                <td>{{ tx.get_type_transaction_display }}</td>
                <td>{{ tx.montant }} FCFA</td>
                <td>{{ tx.date_transaction|date:"d/m/Y H:i" }}</td>
                <td>
                    <a href="{% url 'validate_transaction' tx.id %}" class="btn btn-success btn-sm">Valider</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center text-muted">Aucune fraude détectée</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
