{% extends 'banka/base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Ma Messagerie</h2>
    <div class="card mt-4 shadow-sm"> 
                <div class="card-header bg-secondary text-white"> 
                    Messages échangés 
                </div> 
                <div class="card-body"> 
                    
                    {% for msg in messages %} 
                    <div class="alert {% if msg.sender.is_staff %}alert-info{% else %} alert-warning{% endif %}"> 
                        <strong>{{ msg.sender.nom }} :</strong> {{ msg.content }} <br> 
                        <small class="text-muted">{{ msg.created_at }}</small> 
                    </div> 
                    {% empty %} 
                    <p class="text-muted">Aucun message pour l’instant.</p> 
                    {% endfor %} 
                </div> 
            </div> 
    <div class="mt-4">
        <a href="{% url 'send_message' %}" class="btn btn-primary">
            Envoyer un message
        </a>
    </div>
</div>
{% endblock %}